// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #6441a5,
    #2a0845
  ); /* Chrome 10-25, Safari 5.1-6 */
}

body {
  font-family: montserrat, arial, verdana;
  background: transparent;
}

#app {
  max-height: 600px;
  margin-top: calc((100vh - 600px) / 2);

  form {
    border-radius: 8px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  }
}
